In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://www.espncricinfo.com/player/sachin-tendulkar-35320"
page = requests.get(url)
htmlContent = page.content

In [3]:
soup = BeautifulSoup(htmlContent, 'html.parser')

In [4]:
grid = soup.find('div', class_= "ds-grid")

In [5]:
a = grid.find_all('p')

In [6]:
mat1 = []
for item in a:
    item = item.get_text().replace('\n', '')
    mat1.append(item)
mat1

['Full Name',
 'Born',
 'Age',
 'Nicknames',
 'Batting Style',
 'Bowling Style',
 'Playing Role',
 'Height',
 'Education',
 'links',
 'RELATIONS',
 ' (son)']

In [7]:
b = grid.find_all('span')

In [8]:
mat2 = []
i = 0
for item in b:
    if i == 12:
        break;
    item = item.get_text().replace('\n', '')
    mat2.append(item)
    i = i + 1
mat2

['Sachin Ramesh Tendulkar',
 'April 24, 1973, Bombay (now Mumbai), Maharashtra',
 '49y 37d',
 'Tendlya, Little Master',
 'Right hand Bat',
 'Right arm Offbreak, Legbreak Googly',
 'Top order Batter',
 '5ft 5in',
 'Sharadashram Vidyamandir School',
 'Twitter',
 'Twitter',
 'AS Tendulkar (son)']

In [9]:
data = pd.DataFrame()
data['ATTRIBUTE'] = mat1
data['INFORMATION'] = mat2
data

        ATTRIBUTE                                       INFORMATION
0       Full Name                           Sachin Ramesh Tendulkar
1            Born  April 24, 1973, Bombay (now Mumbai), Maharashtra
2             Age                                           49y 37d
3       Nicknames                            Tendlya, Little Master
4   Batting Style                                    Right hand Bat
5   Bowling Style               Right arm Offbreak, Legbreak Googly
6    Playing Role                                  Top order Batter
7          Height                                           5ft 5in
8       Education                   Sharadashram Vidyamandir School
9           links                                           Twitter
10      RELATIONS                                           Twitter
11          (son)                                AS Tendulkar (son)

In [10]:
data.to_csv('Sachin.csv', index = False)